{% extends "base.html" %}

{% block title %}Tweeter{% endblock %}

{% block content %}
  <h1>Welcome to Tweeter!</h1>
  {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}. Thanks for logging in.
      <a href="{% url 'user_profile' username=user.username %}">View Profile</a>
    </p>
    <p><a href="{% url 'logout' %}">Log out</a></p>
  {% else %}
    <p>Welcome, new user.
      <a href="{% url 'login' %}">Please log in.</a>
    </p>
  {% endif %}

  <form action="{% url 'new_tweet' %}?next={{ request.path }}" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
  </form>

  <p>Recent tweets:</p>
  <ol>
  {% for tweet in recent_tweets %}
    <li>
      {{ tweet.content }} <br>
      <a href="{% url 'user_profile' username=tweet.creator.username %}">@{{ tweet.creator.username }}</a>
      </li>
  {% endfor %}
  </ol>

{% endblock %}
