{% extends "base.html" %}

{% block content %}
<h1>Viewing {{ viewed_user.username }}</h1>
<p>{{ viewed_user.profile.bio }}</p>

{% if profile_form %}
  <form action="{% url 'view_user' username=viewed_user.username %}" method="POST">
    {% csrf_token %}
    {{ profile_form }}
    <input type="submit" value="Update Profile" />
  </form>
{% endif %}

{% if tweet_form %}
  <form action="{% url 'new_tweet' %}?next={{ request.path }}" method="POST">
    {% csrf_token %}
    {{ tweet_form }}
    <input type="submit" value="Tweet!" />
  </form>
{% endif %}

<p>Recent tweets:</p>
  <ol>
  {% for tweet in tweets %}
    <li>
      {{ tweet.content }} <br>
      <a href="{% url 'view_user' username=tweet.creator.username %}">@{{ tweet.creator.username }}</a>
      </li>
  {% endfor %}
  </ol>
{% endblock %}
